.input{
  &--API{
		background-color: color('grayscale', 90);
		border: 2px solid color('grayscale', 70);
		margin-top: 0;
		width: 100%;
		color: setting-get('white');

	//	display: none;
		//height: 15em;
		overflow: auto;

		&.active{
			display: block;
		}
	}

  &--json-container{
		overflow: hidden;
	}
}
